@import '~sass/setup/variables';
@import '~sass/setup/mixins';

html {
	background-color: $main-color !important;
}

body {
	background-color: $white;
	overflow: hidden;
}

.landing-page {
}

.blue-bg {
	color: $white;
	background-color: $main-color;
}

.line-nav {
	display: inline-block;
	vertical-align: top;
	ul {
		display: flex;
		align-items: center;
		li {
			display: flex;
			align-items: center;
			&:not(:last-child):after {
				content: '';
				display: block;
				width: 4rem;
				height: 1px;
				background-color: currentcolor;
				margin: 0 1rem;
			}
			a {
				border-bottom: 1px solid transparent;
				&:hover {
					border-color: currentcolor;
				}
			}
		}
	}
}

.triangle-bg {
	position: relative;
	.triangle {
		display: block;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		svg {
			width: 100%;
			height: 100%;
			* {
				fill: rgba($text-color, .1);
			}
		}
	}
}

.bs-outline-arrow {
	* {
		fill: transparent;
	}
}

// Offset cards to overlap previous section
.bs-pb-card {
	padding-bottom: 4.5rem;
}
.bs-mtn-card {
	margin-top: -4.5rem;
}

.bs-mt-card {
	margin-top: 4.5rem;
}