/*!
 * Blockstack v1.0.0 (http://blockstack.org)
 */

/* --------  SNOWFLAKE   --------  ::selection{background:rgba(242,242,242,1);}::-moz-selection{background:rgba(242,242,242,1);} */

body, div, h1, h2, h3, h4, h5, h6, p {font-family:'ProximaNova-Regular',sans-serif;}
body {padding-top:125px; line-height:1.75;}
h3 {margin-bottom:15px; font-size:23px;}
h4 {font-size:15px; margin:20px 0;}