@import '~sass/setup/variables';
@import '~sass/setup/mixins';

.our-technology {
	.example-app-icon {
		width: 73px;
		margin-top: -30px;
		@include respond-smaller-than(400) {
			width: 60px;
			margin-top: -20px;
		}
	}
	.tech-long-card {
		@include respond($lg) {
			padding-top: $space-1;
			padding-bottom: $space-1;
		}
		.arrow-col {
			@include respond($lg) {
				order: 3;
			}
		}
		.desc-col {
			width: 100%;
			padding-top: $space-1;
			@include respond($lg) {
			padding-top: 0;
				width: 1px;
				flex-grow: 1 !important;
				order: 2;
			}
		}
	}
}