{
  "presets": [
    [
      "next/babel",
      {
        "preset_env": {
          "targets": {
            "browsers": [
              ">1%",
              "last 4 versions",
              "Firefox ESR",
              "Explorer 11",
              "last 4 Edge versions",
              "not ie < 9"
            ]
          },
          "useBuiltIns": "usage",
          "modules": false
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@containers": "./containers",
          "@scss": "./scss",
          "@assets": "./assets",
          "@common": "./common"
        }
      }
    ],
    "@babel/plugin-proposal-export-default-from",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ],
  "ignore": []
}
