.page--berlin-event {
  img {
    max-width: 100%;
    display: block;
    pointer-events: none;
  }
  * {
    box-sizing: border-box;
  }
  .photo-slider {
    &__slide {
      padding: 10px;
    }
    .photo-slider__slide + .photo-slider__slide {
      padding-left: 0;
    }
  }
}

.event {
  $c: &;

  #{$c}__speaker-grid {
  }
  #{$c}__talk {
    margin-bottom: 30px;
    padding-bottom: 30px;
    grid-column: span 1;
    display: grid;
    border-bottom: 1px solid darken(whitesmoke, 8%);

    &__header {
      padding-bottom: 40px;
    }

    &:nth-of-type(even) {
      #{$c}__talk__media {
        @media (min-width: 992px) {
          order: 2;
        }
      }
      #{$c}__talk__details {
        @media (min-width: 992px) {
          order: 1;
        }
      }
    }
    &__content {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 20px;
    }
    &__media {
      grid-column: span 2;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0);
      will-change: box-shadow;
      transition: 0.2s all ease-in-out;

      &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.2s all ease-in-out;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        will-change: opacity;
        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #270f34;
          opacity: 0.75;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          will-change: opacity;
        }
        svg {
          position: relative;
          z-index: 2;
          display: block;
          $size: 62px;
          width: $size !important;
          height: $size !important;
          transform: translateY(5px);
          transition: 0.2s all ease-in-out;
          path {
            width: $size !important;
            height: $size !important;
            fill: white;
          }
        }
      }
      &:hover {
        cursor: pointer;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
        .event__talk__media__overlay {
          opacity: 1;
          svg {
            transform: none;
          }
        }
      }
    }

    &__details {
      grid-column: span 3;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        margin: 0;
        a {
          color: #484848 !important;
        }
      }
    }
    &__speakers {
      &__container {
        padding-top: 20px;
      }
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      flex-wrap: wrap;
      grid-column-gap: 10px;
    }
  }
  #{$c}__speaker + #{$c}__speaker {
    padding-top: 10px;
    margin-top: 10px;
  }
  #{$c}__speaker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    h5 {
      margin-bottom: 0;
    }
    &__avatar {
      $size: 40px;
      width: $size;
      min-width: $size;
      max-width: $size;
      height: $size;
      min-height: $size;
      max-height: $size;
      border-radius: 100%;
      background: whitesmoke;
      overflow: hidden;
      border: 1px solid whitesmoke;
      img {
        display: block;
        max-width: 100%;
      }
    }

    &__meta {
      padding-left: 10px;
    }
  }
}

.page__slider {
  overflow: hidden;
}

.berlin-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    img {
      width: 480px;
      max-width: 100%;
    }
  }
  p {
    text-align: center;
    max-width: 560px;
  }
}

.press-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-column-gap: 120px;
  justify-content: center;
  align-items: center;
  $c: &;

  #{$c}__item {
    opacity: 0.5;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    &:hover {
      opacity: 1;
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
    }
  }
}
