@import '~sass/setup/variables';
@import '~sass/setup/mixins';

.md-button-list-template {
	.button {
		margin-top: .75rem;
	}
	p {
		margin-top: .25em;
		margin-bottom: .75em;
	}
	h3 {
		margin-top: $gutter;
	}
	hr {
		margin: $margin 0;
	}
}