@import '~sass/setup/variables';
@import '~sass/setup/mixins';

header.header {
	padding-top: $mobile-margin * .75;
	// padding-bottom: $mobile-margin;
	@include respond($lg) {
		padding-top: 2rem;
	}
	.container {
		@include respond($lg) {
			width: 100%;
			max-width: 100%;
			padding: 0 3rem;
		}
	}

	#StickyHeader {
		position: relative;
	}
	.inner-header {
		height: 70px;
		display: flex;
		align-items: center;
		transition: background $md-speed $ease;
		z-index: 100;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		overflow: hidden;
		.bs-logo,
		.bs-logotype {
			transform-origin: left center;
			transition: opacity $md-speed $ease, visibility $md-speed $ease, transform $md-speed $ease;
		}
		&.collapsed {
			position: fixed;
			background: darken($main-color, 10%);
			.center-actions {
				.button.main-action,
				.newsletter-form {
					opacity: 1;
					visibility: visible;
					transform: none;
				}
			}
			.bs-logo {
				transform: scale(.75);
			}
			.bs-logotype {
				opacity: 0;
				visibility: hidden;
				transform: translate3d(-16px, 0, 0);
			}
		}
		> div {
			width: 100%;
		}
	}

	.newsletter-form {
		input[type='text'],
		input[type='email'] {
			color: $white;
			border-color: $white;
			&::-webkit-input-placeholder {
				color: $white;
			}
			&:-moz-placeholder {
				color: $white;
			}
			&::-moz-placeholder {
				color: $white;
			}
			&:-ms-input-placeholder {
			   color: $white;
			}
		}
		.button {
			color: $white;
		}
	}

	a {
		padding-bottom : .25em;
		border-bottom : 1px solid transparent;
		&:hover {
			border-bottom : 1px solid $white;
		}
	}
	.menu-icon {
		margin-top: -3px;
	}
	.col {
		&.left {
			flex-grow: 1 !important;
			width: 1px;
		}
		&.left,
		&.right {
			@include respond(1200) {
				max-width: 250px;
				flex-grow: 1 !important;
				width: 1px;
			}
		}
		&.center {
			@include respond(1200) {
				flex-grow: 1 !important;
				width: 1px;
			}
		}
	}
	.center-actions {
		flex-shrink: 0;
		.button.main-action,
		input {
			width: 17rem;
		}
		.button.main-action,
		.newsletter-form {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, 16px, 0);
			transition: opacity $md-speed $ease, visibility $md-speed $ease, transform $md-speed $ease, border $md-speed $ease, background $md-speed $ease, color $md-speed $ease;
		}
		.newsletter-form {
			transition-delay: .05s;
		}
	}
}