@import '~sass/setup/variables';
@import '~sass/setup/mixins';


.footer {
	background : $dark-color;
	color : $light-text-color;

	.es-logo {
		width: 74px;
		height : 37px;
		margin-bottom : 30px;
	}

	a {
		color : $light-text-color;
		&:hover {
			color : $white;
		}
	}

	svg {
		fill : $white;
	}
}

.col-footer {
	display : relative;
  height: 290px;
}

.social {
	display : flex;
	flex-direction : row;
	margin-bottom: 40px;
}

.android {
	position : absolute;
	bottom : 0;
	width : 100%;
}

.android-text {
	display : inline-block;
	vertical-align: middle;
	height : 24px;
	line-height : 24px;
	margin-left:12px;
}

.android-icon {
	display:inline-block;
	vertical-align: middle;

	svg {
		width : 21px;
		height : 24px;
		fill : $white;
	}
}

.social-icon {
	margin-right : 12px;
	display : inline-block;
	svg {
		width : 16px;
		height : 16px;
		fill : $white;
	}
}