@import '~sass/setup/variables';
@import '~sass/setup/mixins';

.individual-image,
.small-business-image,
.corporate-image {
	width : 244px;
	height : 190px;
	max-width: 100%;
	display : flex;
	align-items : flex-end;
	justify-content : center;
}

.individual-image,
.small-business-image {
	padding-bottom : 20px;
}

.card {
	background : $light-grey;
	border-radius : 10px;
	padding : 30px;
}

.individual-image {
	svg {
		width : 132px;
		//height : 68px;
	}
}

.small-business-image {
	svg {
		width : 196px;
		//height : 145px;
	}
}
.corporate-image {
	svg {
		width : 244px;
		//height : 190px;
	}
}