@import '~scss/setup/variables';
@import '~scss/setup/mixins';

.md-what-is-bs-template {
	h6 {
		color: $main-color;
		border: 1px solid currentcolor;
		font-weight: $light;
		font-size: 2rem;
		height: 2.5em;
		width: 2.5em;
		border-radius: 50%;
		letter-spacing: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1em;
		padding-bottom: 4px;
		position: relative;
		margin-bottom: -1em;
		&:after {
			content: '';
			display: block;
			border-radius: 50%;
			background: $light-grey;
			position: absolute;
			top: 6px;
			right: 6px;
			bottom: 6px;
			left: 6px;
			z-index: -1;
		}
	}
}
