@import '~sass/setup/variables';
@import '~sass/setup/mixins';

header.header {

	padding-top: 50px;

	svg {
		width : 124px;
		height : 16px;
		fill : white;
	}

	a {
		color : $white;
		letter-spacing : $tracked-out;
		text-transform: uppercase;
		font-size: 13px;
		display : inline-block;
		padding-bottom : 4px;
		border-bottom : 1px solid transparent;
		&:hover {
			border-bottom : 1px solid $white;
		}
	}

	position : absolute;
	width : 100%;
}