@font-face {
  font-family: 'Plex';
  src:  url('../assets/fonts/plex/IBM-Plex-Mono/IBMPlexMono-Text-Latin1.woff') format('woff'),
        url('../assets/fonts/plex/IBM-Plex-Mono/IBMPlexMono-Text-Latin1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plex';
  src:  url('../assets/fonts/plex/IBM-Plex-Mono/IBMPlexMono-Light-Latin1.woff') format('woff'),
        url('../assets/fonts/plex/IBM-Plex-Mono/IBMPlexMono-Light-Latin1.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Plex';
  src:  url('../assets/fonts/plex/IBM-Plex-Mono/IBMPlexMono-Bold-Latin1.woff') format('woff'),
        url('../assets/fonts/plex/IBM-Plex-Mono/IBMPlexMono-Bold-Latin1.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
