@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Material Icons
.icon {
  svg:not(.logo) {
    display: block;
  }
  display: inline-block;
  vertical-align: middle;
  &.cc-icon {
    margin-top: -3px;
  }
  &.large {
    svg {
      width: 1.5rem !important;
      height: 1.5rem !important;
    }
  }
  &.md-12 {
    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }
  &.md-14 {
    svg {
      width: 14px !important;
      height: 14px !important;
    }
  }
  &.md-18 {
    svg {
      width: 18px !important;
      height: 18px !important;
    }
  }
  &.md-24 {
    svg {
      width: 24px !important;
      height: 24px !important;
    }
  }
  &.md-36 {
    svg {
      width: 36px !important;
      height: 36px !important;
    }
  }
  &.md-48 {
    svg {
      width: 48px !important;
      height: 48px !important;
    }
  }
}

@mixin material-icons() {
  // color: currentcolor;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px; /* Preferred icon size */
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  @include font-smooth();
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  &.md-12 {
    font-size: 12px;
    line-height: 12px;
  }
  &.md-14 {
    font-size: 14px;
    line-height: 14px;
  }
  &.md-18 {
    font-size: 18px;
    line-height: 18px;
  }
  &.md-24 {
    font-size: 24px;
    line-height: 24px;
  }
  &.md-36 {
    font-size: 36px;
    line-height: 36px;
  }
  &.md-48 {
    font-size: 48px;
    line-height: 48px;
  }
}

.material-icons {
  @include material-icons();
}
