
.device, .device-top, .device-bottom, .screen {
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}

.devices {

	.device {
		box-shadow: 0px 15px 30px 0px rgba(0,0,0,0.33);
		background: #3A3A3A;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: space-evenly;

	.device-top {
		display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin : 14px 0;
	}

	.device-bottom {
		display: flex;
    flex-direction: row;
    justify-content: center;
	}

	.screen {
		overflow : hidden;
		margin: 0 auto 0;

		background: #c5c3ba;
	}

	&.iphone {
		border-radius: 26px;
		width: 290px;
		height: 600px;

		.speaker {
			background: #121212;
			width: 45px;
			height: 8px;
			border-radius: 4px;
		}

		.camera {
			width: 8px;
			height: 8px;
			border-radius: 4px;
			margin-right : 8px;
			background : #5C5C5C;
		}

		.screen {
			width:260px;
			height:460px;
			border-radius: 5px;
		}
	}

	&.ipad {
		border-radius: 1.512em;
		width: 460px;
		height: 610px;

		.camera {
			width: 8px;
			height: 8px;
			border-radius: 4px;
			margin-right : 8px;
			background : #5C5C5C;
		}

		.speaker {
			display : none;
		}

		.screen {
			width:390px;
			height:510px;
			border-radius: 3px;
		}

		.button {

		}

	}

	&.desktop {

		height: 480px;
		width: 720px;
		border-radius : 15px;

		.speaker {
			background : #5C5C5C;
			width : 12px;
			height : 12px;
			border-radius : 6px;
		}

		.camera {
			width : 6px;
			height : 6px;
			margin-right : 8px;
			background : #5C5C5C;
			border-radius : 3px;
		}

		.light {
			width : 8px;
			height : 8px;
			margin-left : 8px;
			background : #5ECFA6;
			border-radius : 4px;
		}


		.screen {
			width : 640px;
			height : 400px;
		}

		.button {
			opacity : 0;
		}

	}

	.button {
		margin: 0 auto;
		background: #121212;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		display : flex;
		align-items : center;
		justify-content : center;
		padding: 0;
	}

	.button-square {

		margin: 0 auto;
		width: 30px;
		height: 30px;
		border: 2px solid #3A3A3A;
		border-radius: 15px;
	}
	}
}




