@import '~sass/setup/variables';
@import '~sass/setup/mixins';

.blue-bg {
	.pattern-triangle {
		background-image: url('assets/images/dot-tile-2.png');
		svg {
			* {
				fill: $main-color;
			}
		}
	}
}

.pattern-triangle {
	overflow: hidden;
	position: absolute;
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('assets/images/dot-tile.png');
	background-repeat: repeat;
	background-position: center;
	background-size: 30px 30px;
	@include respond-smaller-than($md) {
		display: none;
	}
	svg {
		width: 100%;
		height: 100%;
		display: block;
		* {
			fill: $bg-color;
		}
	}
	.triangle-top-right {
		position: absolute;
		top: -1px;
		right: -1px;
		left: 50%;
		bottom: 0;
	}
	.triangle-top-left {
		position: absolute;
		top: -1px;
		left: -1px;
		right: 50%;
		bottom: 0;
	}
	.triangle-bottom-right {
		position: absolute;
		bottom: -1px;
		right: -1px;
		left: 50%;
		top: 0;
	}
	.triangle-bottom-left {
		position: absolute;
		bottom: -1px;
		left: -1px;
		right: 50%;
		top: 0;
	}
}