@import '~sass/setup/variables';
@import '~sass/setup/mixins';

* {
	box-sizing-border: box;
}

.app {
  height: 100%;
  .app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    > div {
      height: 100%;
      min-height: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      @include scrollable();
      .main-content-region {
        overflow-x: hidden;
        @include scrollable();
        overflow-y: scroll;
        flex-grow: 1;
        position: relative;
        height: 100%;
        width: 100%;
      }
    }
  }
}

html,
body {
	background-color: $bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
	color: $light-text-color;
	text-decoration: none;
	cursor: pointer;
	transition:
    color $md-speed $ease,
    border $md-speed $ease,
    background $md-speed $ease,
    opacity $md-speed $ease,
    transform $md-speed $ease,
    box-shadow $md-speed $ease;
	&:hover,
  &:focus {
    outline: none;
		color: $text-color;
	}
  &.text-color {
    &:hover,
    &:focus {
      color: $main-color;
    }
  }
}

.overlay {
  background: $text-color;
  opacity: .07;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.container {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - #{$mobile-margin} * 2);
  max-width: $max-site-width;
  &.static {
    position: static;
  }
  @include respond($md) {
    width: $site-width;
  }
  &.full-width {
    width: 100%;
  }
  &.wide-margin {
    @include respond($xlg) {
      width: calc(100% - #{$mobile-margin} * 4);
    }
  }
  &.medium {
    max-width: 30rem;
  }
  &.padded {
    padding-top: $margin;
    padding-bottom: $margin;
  }
  &.padded-top {
    padding-top: $margin;
  }
  &.padded-bottom {
    padding-bottom: $margin;
  }
  &.narrow {
    max-width: 40rem;
  }
  &.very-narrow {
    max-width: 20rem;
  }
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

