@import '~scss/setup/variables';
@import '~scss/setup/mixins';

html {
	background-color: $main-color !important;
	// overflow: hidden;
	// height: 100%;
	&.overflow-hidden {
		overflow: hidden;
	}
}

body {
	background-color: $white;
	height: 100%;
	&.overflow-hidden {
		overflow: hidden;
	}
}

.landing-page {
}

.blue-bg {
	color: $white;
	background-color: $main-color;
}

.line-nav {
	display: inline-block;
	vertical-align: top;
	ul {
		@include respond($md) {
			display: flex;
			align-items: center;
		}
		li {
			@include respond($md) {
				display: flex;
				align-items: center;
			}
			&:not(:last-child):after {
				@include respond($md) {
					content: '';
					display: block;
					width: 2rem;
					height: 1px;
					background-color: currentcolor;
					margin: 0 1rem;
				}
				@include respond($lg) {
					width: 3rem;
				}
				@include respond($xlg) {
					width: 4rem;
				}
			}
			a {
				border-bottom: 1px solid currentcolor;
				margin-bottom: .5em;
				@include respond($md) {
					border-bottom: 1px solid transparent;
					margin-bottom: 0;
				}
				&:hover {
					border-color: currentcolor;
				}
			}
		}
	}
}

.triangle-bg {
	position: relative;
	.triangle {
		// display: block;
		// position: absolute;
		// width: 100%;
		// top: 0;
		// left: 0;
		// right: 0;
		// bottom: 0;
		// svg {
		// 	width: 100%;
		// 	height: 100%;
		// 	* {
		// 		fill: rgba($text-color, .1);
		// 		fill: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjZmZmJyAvPgogIDxjaXJjbGUgY3g9IjEiIGN5PSIxIiByPSIxIiBmaWxsPSIjMDAwIi8+Cjwvc3ZnPg==");
		// 	}
		// }
	}
}

.bs-outline-arrow {
	width: 30px;
	height: 100%;
	display: flex;
	align-items: center;
	&.inline {
		display: inline-block;
	}
	svg {
		display: inline-block;
		vertical-align: top;
		width: 30px;
		height: 13px;
	}
	* {
		fill: transparent;
	}
}

// Offset cards to overlap previous section
.bs-pb-card {
	padding-bottom: 4.5rem;
}
.bs-mtn-card {
	margin-top: -4.5rem;
}

.bs-mt-card {
	margin-top: 4.5rem;
}

.bs-logo {
	svg {
		display: block;
		height: 36px;
		width: 36px;
		// fill : white;
	}
}

.bs-logotype {
	svg {
		width: 141.602px;
    height: 11.487px;
	}
}

.hang-section-title {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
}

.divider-1 {
	svg {
		width: 47px;
	  height: 19px;
	}
}

.divider-2 {
	svg {
	  width: 49px;
	  height: 59px;
	}
}
