@import '~sass/setup/variables';
@import '~sass/setup/mixins';

$cb-base:    $light-grey;
$cb-code-color:  $text-color;
$cb-comment:  $light-text-color;
$cb-litteral:   $main-color;
$cb-title:   $main-color;
$cb-keyword:   $notify;
$cb-string:   $success;
$cb-section:   $alert;
$cb-attr:   $notify;
$cb-attr-2: $notify;

$cb-dark-base:    $text-color;
$cb-dark-code-color:  $white;
$cb-dark-comment:  $light-text-color;
$cb-dark-litteral:   #A75AF4;
$cb-dark-title:   #A75AF4;
$cb-dark-keyword:   #6FD4FF;
$cb-dark-string:   #A75AF4;
$cb-dark-section:   #6FD4FF;
$cb-dark-attr:   #A75AF4;
$cb-dark-attr-2: #6FD4FF;

.code-block {
	font-family: $code-font;
	font-size: $p-font-size;
	line-height: 1.5em;
	overflow: auto;
	&.sm {
		font-size: $sm-p-font-size;
	}
	&.minimal {
		.hljs {
			padding: 0;
			border-radius: 0;
			background: transparent;
		}
	}
	
	&.dark {
		// On Dark BG
		&.minimal {
			.hljs {
				padding: 0;
				border-radius: 0;
				background: transparent;
			}
		}
		.hljs {
			padding: 0;
			font-size: inherit;
		  display: block;
		  overflow-x: auto;
		  padding: .75em (.75em * 1.25) (.75em * 1.333);
		  background: $cb-dark-base;
		  border-radius: $base-border-radius;
		  color: $cb-dark-code-color;

			.hljs-comment,
			.hljs-quote {
			  color: $cb-dark-comment;
			  font-style: italic;
			}

			.hljs-doctag,
			.hljs-keyword,
			.hljs-formula {
			  color: $cb-dark-keyword;
			}

			.hljs-section,
			.hljs-name,
			.hljs-selector-tag,
			.hljs-deletion,
			.hljs-subst {
			  color: $cb-dark-section;
			}

			.hljs-literal {
			  color: $cb-dark-litteral;
			}

			.hljs-string,
			.hljs-regexp,
			.hljs-addition,
			.hljs-attribute,
			.hljs-meta-string {
			  color: $cb-dark-string;
			}

			.hljs-built_in,
			.hljs-class .hljs-title {
			  color: $cb-dark-attr-2;
			}

			.hljs-attr,
			.hljs-variable,
			.hljs-template-variable,
			.hljs-type,
			.hljs-selector-class,
			.hljs-selector-attr,
			.hljs-selector-pseudo,
			.hljs-number {
			  color: $cb-dark-attr;
			}

			.hljs-symbol,
			.hljs-bullet,
			.hljs-link,
			.hljs-meta,
			.hljs-selector-id,
			.hljs-title {
			  color: $cb-dark-title;
			}
		}
	}

	// Colors
	.hljs {
		padding: 0;
		font-size: inherit;
	  display: block;
	  overflow-x: auto;
	  padding: .75em (.75em * 1.25) (.75em * 1.333);
	  background: $cb-base;
	  border-radius: $base-border-radius;
	  color: $cb-code-color;

		.hljs-comment,
		.hljs-quote {
		  color: $cb-comment;
		  font-style: italic;
		}

		.hljs-doctag,
		.hljs-keyword,
		.hljs-formula {
		  color: $cb-keyword;
		}

		.hljs-section,
		.hljs-name,
		.hljs-selector-tag,
		.hljs-deletion,
		.hljs-subst {
		  color: $cb-section;
		}

		.hljs-literal {
		  color: $cb-litteral;
		}

		.hljs-string,
		.hljs-regexp,
		.hljs-addition,
		.hljs-attribute,
		.hljs-meta-string {
		  color: $cb-string;
		}

		.hljs-built_in,
		.hljs-class .hljs-title {
		  color: $cb-attr-2;
		}

		.hljs-attr,
		.hljs-variable,
		.hljs-template-variable,
		.hljs-type,
		.hljs-selector-class,
		.hljs-selector-attr,
		.hljs-selector-pseudo,
		.hljs-number {
		  color: $cb-attr;
		}

		.hljs-symbol,
		.hljs-bullet,
		.hljs-link,
		.hljs-meta,
		.hljs-selector-id,
		.hljs-title {
		  color: $cb-title;
		}

		.hljs-emphasis {
		  font-style: italic;
		}

		.hljs-strong {
		  font-weight: $medium;
		}

		.hljs-link {
		  text-decoration: underline;
		}
	}

}