@import '~sass/setup/variables';
@import '~sass/setup/mixins';


.md-basic-template.md-press-template {
	.container {
		max-width: 55rem;
	}
	h3,
	h4 {
		margin-top: 0;
	}
	.img-wrap {
		height: 200px;
		img {
			width: 80%;
		}
		display: flex;
		align-items: center;
		justify-content: center;
		@include respond($md) {
			float: left;
			width: 250px;
			padding: 0 $gutter $gutter 0;
		}
		@include respond($lg) {
			float: left;
			width: 20rem;
			padding: 0 $gutter $gutter 0;
		}
	}
	img {
		// @include respond($md) {
		// 	float: left;
		// 	width: 250px;
		// 	padding: 0 $gutter $gutter 0;
		// }
		// @include respond($lg) {
		// 	float: left;
		// 	width: 20rem;
		// 	padding: 0 $gutter $gutter 0;
		// }
	}
	p {
		margin-bottom: .5rem;
		color: $light-text-color;
		font-size: $sm-p-font-size;
		font-weight: $medium;
	}
	h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote {
		margin-left: 0;
		magin-right: 0;
	}
	hr {
		margin: $gutter 0 !important;
		display: block;
		width: 100%;
	}
}