@import '~sass/setup/variables';
@import '~sass/setup/mixins';

.md-basic-template,
.md-button-list-template {
	.top-area {
		.container {
			max-width: 44rem;
		}
	}
	table {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: $mobile-margin;
		margin-top: $gutter * 2;
		@include respond($lg) {
			margin-bottom: $margin;
		}
		width: 100%;
		border: 1px solid $main-color;
		color: $main-color;
		font-size: $sm-p-font-size;
		tr {
			display: flex;
			td,
			th {
				width: 1px;
				flex-grow: 1;
				&:last-child {
					border-right: none;
				}
			}
		}
		tbody {
			tr {
				&:first-child {
					td {
						padding-top: calc(1.5rem + 5px);
					}
					&:after {
						top: 10px;
					}
				}
				&:last-child {
					td {
						padding-bottom: calc(1.5rem + 5px);
					}
					&:after {
						bottom: 10px;
					}
				}
				position: relative;
				&:after {
					top: 5px;
					bottom: 5px;
					left: 10px;
					right: 10px;
					content: '';
					display: block;
					background: $light-grey;
					position: absolute;
					z-index: -1;
				}
			}
		}
		thead {
			th {
				border-bottom: 1px solid $main-color;
				padding: .75rem;
			}
		}
		td,
		th {
			border-right: 1px solid $main-color;
		}
		td {
			padding: 1.5rem 2rem;
			text-align: left;
		}
	}
}

.md-basic-template {
	.md-content {
		h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote {
			max-width: 44rem !important;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.md-content.rich-text {
		ul {
			padding: 0;
			list-style: none;
			li {
				&:before {
					display: inline;
					counter-increment: list-counter;
					content: '--- ';
				}
			}
		}
		ol {
			padding: 0;
			list-style: none;
			counter-reset: list-counter;
			li {
				&:before {
					display: inline;
					counter-increment: list-counter;
					content: counter(list-counter, decimal-leading-zero) ' --- ';
				}
			}
		}
		hr {
			margin: $margin 0;
		}
	}
	.rich-text .team-grid,
	.team-grid {
		padding-top: $space-4;
		ul {
			list-style: none;
			display: flex;
			justify-content: center;
			margin: 0 -$gutter/2;
			min-width: calc(100% + #{$gutter});
			flex-wrap: wrap;
			li {
				width: 100%;
				padding: 0 $gutter/2 $gutter;
				img {
					max-width: 100px;
					margin: 0 auto;
				}
				h6 {
					margin-top: .3em;
					color: $main-color;
				}
				h5 {
					margin-top: 1rem;
					font-size: 1rem;
				}
				p {
					font-size: $sm-p-font-size;
				}
				&:before {
					display: none;
					content: '';
				}
				@include respond($sm) {
					width: 50%;
				}
				@include respond($lg) {
					width: 33.333%;
				}
			}
		}
	}
}