@import '~sass/setup/variables';


.how-it-works {
	.images {
		margin-top:60px;
		.image {
			margin-bottom: 60px;
		}
	}
}

.step-image {
	svg {
		display : block;
		max-width : 180px;
		margin : 0 auto;
	}
}

.step-content {
	position : relative;
	margin-bottom : 80px;
	margin-left : 60px;
	.num {
		position : absolute;
		font-size: 24px;
		line-height: 50px;
		text-align: center;
		color : $main-color;
		width : 50px;
		height : 50px;
		border: 1px solid $main-color;
		border-radius : 25px;
		left : -60px;
	}
}